body {
    background-color: #EDEDED;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gridCell { 
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 1fr;
    height: 1fr;
    background-color: white;
}


.hovered {
    background-color: black;
}

.sub-container {
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(var(--grid-number), 1fr); /* Create grid columns */
    grid-template-rows: repeat(var(--grid-number), 1fr); /* Create grid rows */
    gap: 0px; /* Gap between grid cells */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}