body {
    background-color: #EDEDED;
}

h1 {
    text-align: center;
    font-size: 60px;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gridCell { 
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 1fr;
    height: 1fr;
    background-color: white;
}


.hovered {
    background-color: black;
}

.sub-container {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(var(--grid-number), 1fr); /* Create grid columns */
    grid-template-rows: repeat(var(--grid-number), 1fr); /* Create grid rows */
    gap: 0px; /* Gap between grid cells */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

#slider-input { 
    display: flex;
    flex-direction: column;
    gap: px;
    text-align: center;
    border: 1px solid black;
}

#erase {
    font-size: 20px;
    width: 100px;
    height: 50px;
}

#size-label {
    font-size: 20px;
    margin: 5px;
}